*{
    margin: 0px;
    padding: 0px;
}

nav{
    height: 10vh;
    background-color: aqua;
    width: 100vw;
    border: 2px solid black;
}

#div2{
    height: 90vh;
    width: 20vw;
    background-color: aquamarine;
    border: 2px solid black;
}

main{
    background-color: rgb(222, 128, 13);
    border: 2px solid black;
    width: 80vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: scroll;
}

.child{
    background-color: rgb(223, 46, 11);
    border: 2px solid black;
}


@media (max-width : 1000px){
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    .child{
        height: 300px;
    }
}

@media(max-width: 800px){
    main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .child{
        height: 300px;
    }
}

@media(max-width: 600px){
    main{
        display: flex;
        
        
    }

    .child{
        height: 300px;
        flex-shrink: 0;
    }
}